body {
    color: white;
    background-color: #1f1f1f;
}

header > a {
    text-decoration-line: none;
}

a {
   color: #368cf3;
}

#contentwrapper {
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex > div {
    
}
